<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LikePlaceMapper">
	<!-- 해당 가게 데이터 들어갔는지 확인 -->
	<select id="countLikedPlace" parameterType="likePlace"
		resultType="Integer">
		SELECT COUNT(*) FROM likePlace
		WHERE RESTAURANT_NAME = #{place_name} AND MEMBER_NO = #{member_no}
	</select>

	<resultMap type="likePlace" id="LikePlaceResultSet">
		<result column="LIKEPLACE_ID" property="index"></result>
		<result column="RESTAURANT_NAME" property="place_name"></result>
		<result column="RESTAURANT_ROADNAME" property="road_address_name"></result>
		<result column="RESTAURANT_ADDR" property="address_name"></result>
		<result column="PHONE_NO" property="phone"></result>
	</resultMap>

	<insert id="addLikedPlace" parameterType="likePlace">
		INSERT INTO likePlace(LIKEPLACE_ID,
		RESTAURANT_NAME,
		RESTAURANT_ADDR,
		<if test="road_address_name != null and road_address_name != ''">
			RESTAURANT_ROADNAME,
		</if>
		PHONE_NO,
		MEMBER_NO,
		X,
		Y)
		VALUES(likePlaceSeq.NEXTVAL,
		#{place_name},
		#{address_name},
		<if test="road_address_name != null and road_address_name != ''">
			#{road_address_name},
		</if>
		#{phone},
		#{member_no},
		#{x},
		#{y})
		
	</insert>


	<!-- 사용자가 찜한 장소 목록을 가져오는 쿼리 -->
	<select id="getLikedPlacesByUser" resultType="_int" resultMap="LikePlaceResultSet">
		SELECT * FROM likePlace
		WHERE MEMBER_NO = #{member_no}
		 AND RESTAURANT_name LIKE '%' || #{keyword} || '%'
		OR RESTAURANT_ADDR LIKE '%' || #{keyword} || '%'
		OR RESTAURANT_ROADNAME LIKE '%' || #{keyword} || '%' 
	</select> 

	<!-- Remove a liked place -->
	<delete id="removeLikedPlace" parameterType="likePlace">
		DELETE FROM likePlace
		WHERE RESTAURANT_NAME = #{place_name} AND MEMBER_NO = #{member_no}
	</delete>

</mapper>
